body {
	background:#fff;
}

.wrapper {
	width: 978px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}


/**** Header ****/
#header {
	display: block;
	height: 88px;
	background: #fff;
	border-bottom: 2px solid #f5f5f5;
}

#header span {
	display: block;
	float: left;
	width: 175px;
	height: 52px;
	text-indent: -9999px;
	background: url('../logo@2x.png') no-repeat top left;
	background-size: 175px 52px;
	margin: 20px 0 0;
}
/** Icons **/
#iconLinks {
	float: right;
}

#iconLinks li {
	float: left;
	height: 88px;
}

#iconLinks img {
	display: block;
	margin: 0 auto 10px;
	
}

#iconLinks li a {
	text-decoration: none;
}

#iconLinks li a:link, #iconLinks li a:visited {
	font-size: 14px;
	font-weight: lighter;
	padding: 22px 0;
	color: #585858;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 80px;
	opacity: .8;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); -o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
}

#iconLinks li a:hover {
	color: #43b1e7;
	opacity: 1;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

#iconLinks li a:active {
	color: #e68318;
}




/** Navigation **/
#nav {
	height: 34px;
	float: left;
	border-left: 1px solid #ededed;
	margin: 33px 35px 0;
	padding: 0 0 0 20px;
} 

#nav ul {
	display: block;
}

#nav ul li {
	float: left;	
}

#nav a {
	display: block;
	color: #555555;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: bold;
}

#nav a:link, #nav a:visited {
	color: #555555;
	text-decoration: none;
}

#nav a:hover, #nav a.active {
	color: #43b1e7;
}





/**** bottom ****/
#bottom {
	overflow: hidden;
	background: #fff;
	padding: 30px 0;
}

#aside {
	float: left;
	width: 222px;
	overflow: hidden;
}

#aside h3, h3 {
	font-size: 20px;
	color: #4e4e4e;
	margin-bottom: 2px;
	display: inline-block;
}

#aside ul {
	border-top: 1px solid #efefef;
	font-size: 14px
}

#active2 {
	background: url('../images/aside-hover.gif') right center no-repeat #f8f8f8;
}

#aside ul li a:link, #aside ul li a:visited {
	display: inline-block;
	padding: 13px 0 13px 10px;
	text-decoration: none;
	color: #585858;
	width: 212px;
}

.sideLinks li a:hover {
	color: #585858;
	background: url('../images/aside-hover.gif') right center no-repeat #f8f8f8;
}


#aside ul li a:active {
	color: #66aaf6;
}




/**** section ****/

#section {
	float: left;
	margin-left: 30px;
	width: 726px;
}

#section h2 {
	font-size: 28px;
	color: #343434;
}

/** article **/
.article {
	width:100%;
}


.article h4 {
	font-size: 16px;
	font-weight: bold;
	color: #e68318;
	margin: 20px 0 10px;
}

.article p {
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
	color: #343434;
}

.bold {
	font-weight: bold !important;
}

.article ul {
	list-style-type: circle;
	width: 640px;
}

.article ul li {
	font-size: 14px;
	line-height: 15px;
	margin: 0 10px 10px 60px;
	color: #343434;
}



/** Footer **/
#footer {
	border-top: 1px solid #e8e8e8;
	padding: 10px 0;
	text-align: center;
	font: 12px Arial, sans-serif;
	color: #404040;
}

.fTitle {
	float: left;
	padding: 3px 3px;
	text-transform: uppercase;
	text-align: left;
	margin: 0 30px 0;
}

.fTitle a {
	font-weight: bold;
	font-size: 13px;
	padding: 4px 0;
	display: inline-block;
}

#fLinks li ul li {
	display: block;
	text-transform: capitalize;
	text-align: left;
}

#fLinks li ul li a {
	font-weight: normal;
	font-size: 12px;
	padding: 2px 0;
}

#footer p {
	padding-top: 6px;
	clear: both;
}

#footer a:link, #footer a:visited {
	color: #404040;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}


